body {
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
}

.header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #377feb;
  color: white;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  background: white;
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: rgba(114, 114, 114, 0.356) 3px 3px 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.link-button {
  background: transparent;
  color: #1e5ab3;
  text-decoration: underline;
  border: none;
  box-shadow: none;
}

.section {
  background: white;
  font-size: 16px;
  cursor: pointer;
}

.primary-button {
  background-color: #3878d7;
  color: white;
}

.primary-button:hover {
  background-color: #1e5ab3;
}

.secondary-button {
  /* border: none; */
}

.secondary-button:hover {
  cursor: pointer;
}

.task-top-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-header {
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: left;
  margin-left: 20px;
}
